.Projects {
  width: 100vw;
  height: 1000px;
}

.Projects h1 {
  color: white;
}

.Projects .Buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  margin-top: 100px;
}

.Projects .Button {
  height: 50px;
  width: 300px;
  border-radius: 25px;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  align-items: center;
}

.Projects .ButtonPressed {
  height: 50px;
  width: 300px;
  border-radius: 25px;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
}

.Projects .Button h2 {
  color: white;
  margin: 10px;
}

.Projects .ButtonPressed h2 {
  color: white;
  margin: 10px;
}

.CardNews {
  margin: auto;
  margin-top: 40px;
  height: 700px;
  width: 1300px;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.CardNews .titleContainer {
  width: inherit;
}

.CardNews .contentContainer {
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 85%;
  justify-content: space-between;
  margin-top: 50px;
}

.CardNews .picContainer {
  width: 50%;
}

.CardNews .pic1 {
  background-image: url('../assets/cardnewsimage.png');
  height: 500px;
  width: 500px;
  background-size: cover;
  margin: auto;
}

.CardNews .paraContainer {
  width: 50%;
  color: white;
  font-size: 1.3em;
}

.Article {
  margin: auto;
  margin-top: 40px;
  height: 700px;
  width: 1300px;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.Article .titleContainer {
  width: inherit;
}

.Article .contentContainer {
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 85%;
  justify-content: space-between;
  margin-top: 50px;
}

.Article .picContainer {
  width: 50%;
}

.Article .pic1 {
  background-image: url('../assets/article.PNG');
  height: 600px;
  width: 450px;
  background-size: cover;
  margin: auto;
}

.Article .paraContainer {
  width: 50%;
  color: white;
  font-size: 1.3em;
}

.Postcard {
  margin: auto;
  margin-top: 40px;
  height: 700px;
  width: 1300px;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.Postcard .titleContainer {
  width: inherit;
}

.Postcard .contentContainer {
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 85%;
  justify-content: space-between;
  margin-top: 50px;
}

.Postcard .picContainer {
  width: 50%;
}

.Postcard .pic1 {
  background-image: url('../assets/postcard.png');
  height: 600px;
  width: 450px;
  background-size: cover;
  margin: auto;

}

.Postcard .paraContainer {
  width: 50%;
  color: white;
  font-size: 1.3em;
}